{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="row divider green">
    <div class="col-md-12"></div>
</div>
<div class="row banner menu">
    <div class="col-md-11 col-md-offset-1 padding-none">
        <h2>New item for the catalog</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-1 padding-top">
        <form action="#" method="post">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" maxlength="50"
                       class="form-control" name="name"
                       placeholder="Name of the item">

                <label for="description">Description:</label>
                <textarea class="form-control" maxlength="250"
                          rows="3" name="description"
                          placeholder="Description of the item"></textarea>

                <div style="margin: 20px 0">
                    <label for="category">Category:</label>
                    <select name="category">
                        {% for category in categories %}
                        <option value="{{category.id}}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>


                <button type="submit" class="btn btn-default" id="submit">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Create
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

